<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="EntityFramework" version="6.4.0" targetFramework="net461" />
  <package id="M2Mqtt" version="4.3.0.0" targetFramework="net461" />
  <package id="runtime.unix.System.Net.Sockets" version="4.3.0" targetFramework="net452" />
  <package id="runtime.win.System.Net.Sockets" version="4.3.0" targetFramework="net452" />
  <package id="System.Diagnostics.Tracer" version="2.0.8" targetFramework="net461" />
  <package id="System.Net.Mqtt" version="0.5.42-beta" targetFramework="net461" />
  <package id="System.Reactive" version="4.0.0-preview.2.build.379" targetFramework="net461" />
  <package id="System.Reactive.Interfaces" version="4.0.0-preview.2.build.379" targetFramework="net461" />
  <package id="System.Runtime.Serialization.Primitives" version="4.1.1" targetFramework="net461" />
</packages>